body{
background-image: url(img/ToDText.png);
background-size: 15%;
color: purple;
font-family: comic-sans;
font-size: 72px;
text-align: center;
}
.main img {
    max-width: 100%;
    height: auto;
      }
