body{
background-image: url(img/ToDText.png);
background-size: 15%;
font-family: "bookman";
text-align: center;
}
.main img {
    max-width: 100%;
    height: auto;
      }
table, th, td {
  border: 6px double black;
    align: center;
}
